/* Importing Google Font (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --Hover-Gold: #947642;
  --Light-Mode-Hover: #111;
  --Dark-Mode-Hover-Gold: #e3f1f4;
  --Light-Mode-Active-Menu-Timeline: #a82424;
  --Active-Gold: #dfad57;
  --Soft-Black: #111;
  --Soft-White: #fff;
  --Light-Beige: #FEEADB;
  --Dark-Beige: #8B5E3C;
  --GradientHero-Light-Mode:#FEEADB, #F3EBEE, #FEEADB ;
}

html{
  
}


/* Body */
body {
  font-family: 'Rubik', sans-serif;
  background-color: #f4f4f4;  /* Light background color */
  color: #333;  /* Dark text for contrast */
  overflow-x: hidden;
}



.extra-padding {
  padding: 100px 0px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--Soft-Black);
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: var(--Soft-White); /* Dark mode background */
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--Soft-Black); /* Dark mode handle */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #f0f0f0; /* Lighten the handle on hover in dark mode */
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar Styles (Improvement for Mobile) */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--Soft-White);
  padding: 20px 10px 20px 50px;  /* barely some padding right */
  z-index: 1000;
  display: flex;
  justify-content: flex-end;  /* Align items to the right */
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navbar .logo {
  margin-right: auto;  /* Push the logo to the left */
}

/* Navbar Links */
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
}

.navbar .nav-link {
  color: var(--Soft-Black);
  font-size: 1.1em;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}

.navbar .nav-link:hover {
  color: var(--Hover-Gold);
  transform: scale(1.1);
}

.navbar .nav-link.active {
  color: var(--Active-Gold);
}

.navbar.sticky {
  background-color: #f0f0f0;
}

/* Show menu when .active is toggled */
.navbar ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Position right below the navbar */
  left: 0;
  right: 0;
  padding: 1em 0;
  max-height: auto !important;
  background-color: var(--Soft-White); /* Or your preferred color */
  z-index: 1;
}

.navbar ul.active li {
  width: 100%; /* Full width for each item */
}

.navbar ul.active li a {
  display: block; /* Block display to fill width */
  padding: 1em; /* Add padding for clickability */
  width: 100%; /* Full width of the container */
  color: var(--Soft-Black); /* White text color */
  text-align: center; /* Center text */
  text-decoration: none;
  font-size: 1.2em;
}

/* Logo Section (Your Name and Photo) */
.logo {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.name {
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
}

/* Mobile Menu */
.navbar .menu-icon {
  display: none;
  font-size: 2em;
  color: var(--Soft-Black);
  cursor: pointer;
}

.navbar .menu {
  display: none;
}

.navbar.active .menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.navbar.active .menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.navbar.active .menu .nav-link {
  color: var(--Soft-White);
  font-size: 1.5em;
  transition: color 0.3s;
}

.navbar.active .menu .nav-link:hover {
  color: #007bff;
}

/* Hero Section Styling */
.hero {
  height: 100dvh; /* Full screen height */
  display: flex;
  justify-content: center; /* Center content horizontally */
  flex-direction: column;
  align-items: center; /* Center content vertically */
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
  background: linear-gradient(135deg, var(--GradientHero-Light-Mode));
  background-size: 200% 200%;
  animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Particle Effect */
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-repeat: repeat;
  mix-blend-mode: multiply;
  background-color: var(--Soft-Black);
  opacity: 0.2;
  z-index: -1;
}

/* Hero Text Styling */
.hero h1 {
  font-size: 3.5em;
  color: var(--Soft-Black); /* Dark navy color */
  font-weight: lighter;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards 0.3s;
  margin: 0; /* Remove default margin */
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5em;
  width: 50%;
  color: var(--Soft-Black); /* Soft light gray */
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards 0.5s;
  margin-top: 10px; /* Small space between the heading and paragraph */
}

.hero .arrow {
  font-size: 2em;
  color: var(--Soft-Black); /* Consistent with paragraph color */
  opacity: 1;
  padding-top: 30px; /* Space between the paragraph and scroll arrow */
  cursor: pointer;
}

/* Fade-in and move-up animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow {
  position: relative;
  top: 12%;
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid;
  border-right: 5px solid;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

/* Initial state: About section in hero section */
.about {
  position: absolute;
  bottom: 5%; /* Near the bottom of the hero */
  left: 25%; /* Centered horizontally in its smaller state */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; /* Smaller width for temporary state */
  height: 25px; /* Compact height initially */
  opacity: 0.9; /* Slight transparency */
  transform: scale(0.8); /* Slightly shrunken initially */
  transition: all 0.5s ease-in-out; /* Smooth transitions */
  z-index: 1; /* Above the hero */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  pointer-events: none; /* Prevent interaction */
}

/* Expanded state: Full-size about section */
.about.full-view {
  position: relative; /* Normal document flow */
  bottom: unset; /* Reset position */
  left: unset; /* Reset position */
  width: 100%; /* Full width */
  height: auto; /* Expand to fit content */
  opacity: 1; /* Fully opaque */
  transform: scale(1); /* Scale up to full size */
  background: white; /* Solid background */
  border-radius: 0; /* Remove rounded corners */
  pointer-events: auto; /* Enable interaction */
  padding: 100px 0;
  z-index: auto; /* Restore normal stacking */
}

.about.full-view .about-container {
  display: flex;
}

.about .about-container {
  display: none;
}

/*.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.about-container {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.about-container img {
  width: 22%;
  height: 22%;
  border-radius: 20%;
  box-shadow: 0 0 30px 10px var(--Soft-Black),
              0 0 50px 20px var(--Soft-Black) inset;
}

.about h2 {
  text-align: center;
  margin: 10px auto;
}

.about p {
  font-size: 18px;
  text-align: justify; /* Align text to the right */
  margin-left: auto; /* Push the paragraph to the right */
  width: 100%; /* Allow the paragraph to extend fully */
}

.about h2::after {
  content: '';
  display: block;
  margin: 10px auto;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  background-color: var(--Active-Gold);  /* Hex color for the line */
  background: linear-gradient(to right, 
    #b35e2c00 0%,        /* Transparent on the left */
    var(--Active-Gold) 10%,       /* Fully opaque */
    var(--Active-Gold) 90%,       /* Fully opaque */
    #b35e2c00 100%);
}

@media (max-width: 760px) {
  /* Further adjustments for extra-small screens */
  .about-container {
    flex-direction: column;
  }

  .about h2::after {
    margin: 15px 0 25px 0;
  }

  .about-container img {
    width: 75%;
    height: 75%;
    margin: 0;
  }

  .about-container p {
    margin: 0;
  }

}

.timeline {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
  background: linear-gradient(135deg, var(--GradientHero-Light-Mode));
  background-size: 200% 200%;
  animation: gradientAnimation 7s ease infinite;
}

/* Particle Effect */
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-repeat: repeat;
  mix-blend-mode: multiply;
  background-color: var(--Soft-Black);
  opacity: 0.2;
  z-index: -1;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 85dvh;
}

.timeline h1:first-of-type {
  margin-top: 20px;
  margin-bottom: 0px;
} 

.timeline h1 {
  font-size: 3.5em;
  color: var(--Soft-Black);
  font-weight: lighter;
  opacity: 0;
  transform: translateX(300px);
  animation: SlideFade 1s forwards 0.3s;
}

/* Add a line after the heading */
.timeline h1::after {
  content: '';
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  background-color: var(--Active-Gold);
  background: linear-gradient(to right, 
    #b35e2c00 0%,        
    var(--Active-Gold) 10%,       
    var(--Active-Gold) 90%,       
    #b35e2c00 100%);
}

.timeline .timeline-container .slides .slide .content h1::after {
  height: 0px;
}

.timeline p {
  font-size: 1.5em;
  width: 50%;
  color: var(--Soft-Black);
  opacity: 0;
  transform: translateX(300px);
  animation: SlideFade 1s forwards 0.5s;
  margin-top: 10px;
}

/* Fade-in and move-up animation */
@keyframes SlideFade {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slides {
  width: 100%;
  min-height: 100%;
  position: relative;
  top: -0;
  margin-top: 30px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100dvh;
}

.slide {
  width: 100%;
  min-height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--Soft-White);
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  opacity: 0; /* Make sure slides are hidden initially */
  transform: translateY(100%);
  transition: transform 0.8s ease, opacity 0.8s ease;
}


/* Active slide */
.slide.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

/* Optional: Slide out effect for the previous slide */
.slide.previous {
  opacity: 0.5;
  transform: translateY(-100%);
}

/* Slide transitions */
.slide-in-right {
  animation: slideInRight 0.8s forwards;
}

.slide-in-left {
  animation: slideInLeft 0.8s forwards;
}

.slide-out-right {
  animation: slideOutRight 0.8s forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.8s forwards;
}

/* Keyframes for slide animations */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Main Navigation Container */
.navigation {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
  height: 100dvh;
  pointer-events: auto;
}

.navigation::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  width: 2px;
  background: var(--Soft-White);
}

.nav-btn {
  background: none;
  color: var(--Light-Mode-Hover);
  font-family:'Barlow', serif !important;
  margin: 8px;
  max-width: 200px;
  width: 200px;
  text-align: center;
  word-wrap: break-word;
  border: none;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  transition: color 0.3s;
}

.nav-btn.active {
  color: var(--Soft-Black);
  font-weight: 600;
  font-family: 'Source Sans 3', serif !important;
}

.nav-btn::before {
  content: "•";
  color: var(--Soft-Black);
  position: absolute;
  top: 8px;
  transform: scale(0);
  left: -52px;
  font-size: 2rem;
  transition: transform 0.25s;
}

.nav-btn.active::before {
  transform: scale(1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .timeline h1 {
    font-size: 2.5em;
    margin-bottom: 10px; /* Maintain a consistent gap */
  }

  .content {
    margin-top: 10px; /* Adjust spacing for clarity */
  }

  .timeline p {
    font-size: 1.2em; /* Slightly larger for readability */
    width: 85%;
  }

  .slides {
    width: 85vw; /* Maintain proportional scaling */
  }

  /* Horizontal navigation for smaller devices */
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly; /* Center navigation buttons evenly */
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6); /* Slightly darker for better contrast */
  }

  .navigation::before {
    display: none; /* Completely hide the vertical line */
  }

  .nav-btn {
    font-size: 1rem; /* Consistent and compact */
    padding: 6px 10px;
  }
}

@media (max-width: 576px) {
  .timeline h1 {
    font-size: 2.2em; /* Maintain visual hierarchy */
    margin-bottom: 8px;
  }

  .timeline p {
    font-size: 1em;
    width: 90%; /* Narrower for smaller screens */
  }

  .slides {
    width: 90vw;
  }

  .nav-btn {
    font-size: 0.95rem; /* Proportional scaling */
    padding: 5px 10px;
  }

  .content {
    margin-top: 8px;
  }
}

@media (max-width: 400px) {
  .timeline h1 {
    font-size: 1.8em; /* Smaller yet legible */
    margin-bottom: 6px;
  }

  .timeline p {
    font-size: 0.9em; /* Compact text for small screens */
    width: 95%;
  }

  .slides {
    width: 95vw; /* Maximize available space */
  }

  .nav-btn {
    font-size: 0.85rem; /* Optimized for ultra-small devices */
    padding: 5px 8px;
  }

  .navigation {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly darker for extra visibility */
  }
}


.hamburger-menu {
  color: var(--Active-Gold); /* Ensure contrast with background */
  font-size: 1.8em; /* Adjust icon size if needed */
  cursor: pointer;
  z-index: 10;
  display: none; /* Only show on mobile */
}

/* Display hamburger only on smaller screens */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show hamburger icon */
  }
}

/* Mobile Navigation Overlay */
.navigation.active {
  display: flex !important;
  position: fixed; /* Fixed to viewport */
  top: 50%;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it’s above other content */
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.8;
  margin-bottom: 30px;
}

#skills > h2:first-of-type {
  text-align: center;
}

/* Add a line after the heading */
#skills > h2:first-of-type:after {
  content: '';
  display: block;
  margin: 10px auto;
  border-radius: 2px;
  width: 7%;
  height: 3px;
  background-color: var(--Active-Gold);  /* Hex color for the line */
  background: linear-gradient(to right, 
    #b35e2c00 0%,        /* Transparent on the left */
    var(--Active-Gold) 10%,       /* Fully opaque */
    var(--Active-Gold) 90%,       /* Fully opaque */
    #b35e2c00 100%);
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;  
  height: auto;
}

.skill {
  padding: 20px;
  width: 100%; /* Adjusts width for all screen sizes */
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills-column > h2:first-of-type {
  text-align: center !important;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1) inset;
  border:1px solid var(--Active-Gold);
  width: 100%;
  height: auto;
  padding: 15px 0;
  font-weight: 300;
  font-family: "Faculty Glyphic", sans-serif !important;
  font-size: 28px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills-column:first-of-type {
  margin: 10px 10px 10px 0;
}

.skills-column:last-of-type {
  margin: 10px 0 10px 10px;
}

.skills-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Ensures full width on smaller screens */
  height: auto;
  margin: 10px;
}

.skill-images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allows images to wrap on smaller screens */
  gap: 5px; /* Adds consistent spacing between circles */
}

.skill h2 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  padding: 10px 0;
}

.skill-images-container div {
  width: 20px; /* Circle size */
  height: 20px;
  border-radius: 50%; /* Makes the element circular */
  background-color: var(--Soft-White); /* Light gray background */
  margin: 0 5px; /* Space between circles */
  position: relative;
  
  /* Outer glow effect */
  box-shadow: 0 0 4px var(--Soft-Black);
  transition: box-shadow 0.3s ease; /* Smooth transition for glow effect */
}

/* Add delay to each circle for charging effect */
.skill-images-container div:nth-child(1) {
  animation-delay: 0.2s;
}
.skill-images-container div:nth-child(2) {
  animation-delay: 0.4s;
}
.skill-images-container div:nth-child(3) {
  animation-delay: 0.6s;
}
.skill-images-container div:nth-child(4) {
  animation-delay: 0.8s;
}
.skill-images-container div:nth-child(5) {
  animation-delay: 1s;
}

.skill-images-container div.filled {
  background-color: var(--Light-Mode-Active-Menu-Timeline);
  animation: charge-animation 1s ease forwards, pulse 1.5s ease;
}

/* Animation keyframes for charging effect */
@keyframes charge-animation {
  from {
    background-color: var(--Soft-White);
    box-shadow: 0 0 4px var(--Soft-White);
  }
  to {
    background-color: var(--Soft-Black);
    box-shadow: 0 0 6px var(--Soft-Black);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 6px var(--Soft-Black);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 12px var(--Soft-Black);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 6px var(--Soft-Black);
  }
}

/* For devices with max-width of 768px (tablets and smaller) */
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column; /* Stacks items vertically */
  }

  .skill {
    box-sizing: border-box;
    width: 100vw;
    padding: 0px 10px;
  }

  .skills-column {
    margin: 0 auto;
  }

  .skills-column:first-of-type {
    margin: 10px 0px 10px 0;
  }
  
  .skills-column:last-of-type {
    margin: 10px 0 10px 0px;
  }

  .skills-column > h2:first-of-type {
    font-size: 1.4rem; /* Smaller font size for mobile */
    padding: 5px;
    margin: 10px 0;
  }

  #skills > h2:first-of-type:after {
    width: 20%; /* Slightly larger line for visibility */
  }

  .skill-images-container {
    gap: 8px; /* Reduced gap between circles */
  }

  .skill-images-container div {
    width: 25px; /* Larger for touch devices */
    height: 25px;
    margin: 5px; /* Consistent spacing */
  }
}

/* For devices with max-width of 480px (phones) */
@media (max-width: 480px) {
  .skill h2 {
    font-size: 1rem; /* Adjust heading size for small screens */
  }

  .skills-column {
    margin: 5px 0; /* Reduced margin */
  }

  .skill-images-container div {
    width: 20px; /* Slightly smaller for very small screens */
    height: 20px;
    margin: 0;
    padding: 0;
  }

  #skills > h2:first-of-type:after {
    width: 25%; /* Even larger line for visibility */
  }
}



/* Contact Section */
.contact {
  background: linear-gradient(135deg, var(--GradientHero-Light-Mode));  /* Similar to the hero section */
  background-size: 200% 200%;
  animation: gradientAnimation 7s ease infinite;
  padding: 60px 20px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.contact-form {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;  /* Center the form group */
}

.contact h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: var(--Soft-White);  /* White text to match hero section text */
  font-weight: lighter;
}

/* Add a line after the heading */
.contact h2::after {
  content: '';
  display: block;
  margin: 10px auto;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  background-color: var(--Active-Gold);  /* Hex color for the line */
  background: linear-gradient(to right, 
    #b35e2c00 0%,        /* Transparent on the left */
    var(--Active-Gold) 10%,       /* Fully opaque */
    var(--Active-Gold) 90%,       /* Fully opaque */
    #b35e2c00 100%);
}

.contact .form-group {
  margin-bottom: 20px;
  text-align: left;  
}

.contact label {
  display: block;
  font-size: 1.1em;
  color: var(--Soft-White);  /* Light color to contrast the background */
  margin-bottom: 5px;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  border: 2px solid var(--Soft-White);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  background-color: var(--Soft-Black);  /* Dark background to match hero section */
  color: var(--Soft-White);  /* Light text for contrast */
}

.contact input:focus, .contact textarea:focus {
  border-color: var(--Active-Gold);  /* Gold border on focus */
  box-shadow: 0 0 5px var(--Active-Gold);
  outline: none;
}

/* Apply font family to the placeholder text */
.contact input::placeholder,
.contact textarea::placeholder,
textarea, input, button {
  font-family: 'Rubik', sans-serif !important;
  color: var(--Soft-White); /* Optional: change color for better visibility */
}

.contact textarea {
  height: 150px;
  resize: vertical;
  max-height: 450px;
}

.contact button.submit-btn {
  padding: 15px 30px;
  font-size: 1.1em;
  background-color: var(--Hover-Gold);  /* Consistent blue color */
  color: var(--Soft-White);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact button.submit-btn:hover {
  background-color: var(--Active-Gold);  /* Darker blue on hover */
  transform: translateY(-3px);
}

.contact button.submit-btn:active {
  transform: translateY(0);
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: var(--Soft-Black); /* Dark background */
  color: var(--Soft-White);
}

body.dark-mode .navbar {
  background-color: var(--Soft-Black); /* Dark navbar */
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

/* Show menu when .active is toggled */
body.dark-mode .navbar ul.active {
  background-color: var(--Soft-Black); /* Or your preferred color */
}

/* Dark Mode styles */
body[data-theme="dark"] .menu a.active {
  color:var(--Soft-White); /* White text in dark mode */
  background-color: var(--Soft-Black); /* Darker background for active item */
}

body.dark-mode .navbar .logo .name,
body.dark-mode .navbar .nav-link {
  color: var(--Soft-White); /* Light text for navbar */
}

body.dark-mode .navbar .nav-link.active {
  color: var(--Active-Gold);
}

body.dark-mode .hero {
  mix-blend-mode: difference;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(39, 39, 39, 0.7), rgba(0, 0, 0, 0.6)); /* Slightly transparent gradient */
  background-size: 200% 200%;
  animation: gradientAnimation 7s ease infinite;
}

body.dark-mode .timeline {
  mix-blend-mode: difference;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(39, 39, 39, 0.7), rgba(0, 0, 0, 0.6)); /* Slightly transparent gradient */
  background-size: 200% 200%;
  animation: gradientAnimation 7s ease infinite;
}

body.dark-mode .navigation::before {
  background: var(--Soft-Black);
}

/* Particle Effect */
body.dark-mode .hero::after {
  background-color: var(--Soft-White);
  opacity: 0.25; /* Enhances particle visibility without overpowering */
  mix-blend-mode: normal;
}

body.dark-mode .timeline::after {
  background-color: var(--Soft-White);
  opacity: 0.25; /* Enhances particle visibility without overpowering */
  mix-blend-mode: normal;
}

body.dark-mode .hero :is(h1, p, a) {
  color: var(--Soft-White);
}

body.dark-mode .timeline :is(h1, p, a) {
  color: var(--Soft-White);
}

body.dark-mode .nav-btn {
  color: var(--Dark-Mode-Hover-Gold);
}

body.dark-mode .about-container img {
  box-shadow: 0 0 30px 10px var(--Soft-White),
              0 0 50px 20px var(--Soft-White) inset;
}

body.dark-mode .skill-images-container div  {
  background-color: var(--Soft-Black); /* Dark skill bar fill */
  box-shadow: 0 0 4px var(--Soft-White);
}

body.dark-mode .skills-column > h2:first-of-type {
  box-shadow: 0 0px 10px var(--Soft-White);
}

/* Animation keyframes for charging effect */
@keyframes charge-animation-dark-mode {
  from {
    background-color: var(--Soft-Black);
    box-shadow: 0 0 4px var(--Soft-Black);
  }
  to {
    background-color: var(--Soft-White);
    box-shadow: 0 0 6px var(--Soft-White);
  }
}

@keyframes pulse-darkmode {
  0% {
    transform: scale(1);
    box-shadow: 0 0 6px var(--Soft-White);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 12px var(--Soft-White);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 6px var(--Soft-White);
  }
}

body.dark-mode .skill-images-container div.filled  {
  background-color: var(--Soft-White); /* Dark skill bar fill */
  animation: charge-animation-dark-mode 1s ease forwards, pulse-darkmode 1.5s ease;
}

body.dark-mode .contact-form input,
body.dark-mode .contact-form textarea {
  background-color: var(--Soft-Black); /* Dark input fields */
  color: var(--Soft-White); /* Light text */
  border-color: #555;
}

/* Footer dark mode styling */
body.dark-mode .footer {
  background-color: var(--Soft-Black); /* Dark footer background */
  color: var(--Soft-White) !important;
}

/* Footer dark mode styling */
body.dark-mode .footer :is(.quick-links, .social ul li a){
  background-color: var(--Soft-Black); /* Dark footer background */
  color: var(--Soft-White);
}

body.dark-mode .footer-section ul li a:hover {
  color: var(--Active-Gold);
}

body.dark-mode .footer-bottom {
  border-top: 1px solid var(--Soft-White);
}

body.dark-mode .checkbox-label {
  background-color: var(--Soft-White);
}

body.dark-mode .checkbox-label .ball{
  background-color: var(--Soft-Black);
}

.checkbox {
  opacity: 0;
  position: relative; /* This allows you to move the checkbox without affecting the other items */
  margin-left: 20px;
}

.checkbox-label {
  background-color: var(--Soft-Black);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: var(--Soft-White);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* Footer Styling */
.footer {
  background-color: var(--Soft-White);
  color: var(--text-color);
  --text-color: var(--Soft-Black);
  padding: 50px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  padding: 20px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
  font-size: 1em;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--Active-Gold);
}

.social ul li {
  display: inline-block;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid var(--Soft-Black);
}

.footer-bottom p {
  margin: 0;
}

/* Base responsive styling for smaller screens */
@media (max-width: 768px) {
  /* Navbar adjustments */
  .navbar {
    padding: 10px 20px;
  }
  .navbar .menu-icon {
    display: block; /* Show menu icon on mobile */
  }
  .navbar ul {
    display: none; /* Hide desktop navbar links */
  }

  /* Hero section */
  .hero h1 {
    font-size: 2em; /* Reduce heading size */
  }
  .hero p {
    font-size: 1em; /* Smaller text */
    width: 90%; /* Full-width text on mobile */
  }

  /* Portfolio grid layout */
  .portfolio-grid {
    grid-template-columns: 1fr; /* Single column on small screens */
    gap: 20px;
  }

  /* Contact form adjustments */
  .contact-form {
    width: 90% !important; /* Full width on mobile */
  }
  .contact h2 {
    font-size: 2em; /* Smaller heading */
  }
  .contact input, .contact textarea {
    font-size: 1em; /* Adjust text size */
    padding: 10px; /* Less padding */
  }
  .contact button.submit-btn {
    padding: 10px 20px; /* Smaller button */
  }

  /* Footer adjustments */
  .footer-container {
    flex-direction: column; /* Stack footer sections */
    align-items: center;
  }
  .footer-section {
    margin-bottom: 30px;
    text-align: center; /* Center-align text */
  }

   /* Adjust arrow size on smaller screens */
   .arrow span {
    display: block;
    width: 5vw;
    height: 5vw;
    border-bottom: 5px solid;
    border-right: 5px solid;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }

  .checkbox {
    margin: 0;
    padding: 0;
  }
  
}

/* Extra small screens (under 576px) */
@media (max-width: 576px) {
  .hero h1 {
    font-size: 1.5em;
  }
  .hero p {
    font-size: 0.9em;
  }
  .portfolio-grid {
    gap: 10px; /* Reduce gap */
  }
  .contact h2 {
    font-size: 1.8em;
  }
  .contact button.submit-btn {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}